header{
  display: grid;
  background-color: wheat;
  grid-template-columns: 1fr 2fr 1fr;
  
}
footer{
  display: grid;
  background-color: wheat;
  grid-template-columns: 1fr 2fr 1fr;
  
}
.logo{
  position: fixed;
  width: 6.5vh;
}

header nav{
  grid-column-start: 2;
  grid-column-end: 3;


}

.TopNav ul {
  display: flex;
  justify-content: space-evenly;
  
}

.TopNav li{
  list-style-type: upper-roman;
  color: rgba(165, 98, 98, 0.515);
  text-align: center;
  padding: 14px 16px;
}

.maingrid{
  display: grid;
  gap: 1.2rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.2rem;

}
.sidebar{
  grid-row:1 / 15;
  background-color: blueviolet;
}

.sidebar ul {
  position: sticky;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  max-height: 100vh;
  top: 0rem;
}

.sidebar li{
  counter-increment: li;
  color: rgba(222, 222, 222, 0.515);
  text-decoration: underline;
  
}

.sidebar li::marker{
  display: list-item;
  content: "#" counter(li) " ";
  color: lightsalmon;
  font-weight: bold;
}


li::marker {
  content: "🧡 ";
}



body {
  font-family: sans-serif;
}


.maingrid article{
  display: flex;
  background-color: aqua;
  grid-column-start: 2;
  grid-column-end: 6;
  max-height:50vh;
  overflow:hidden;
  align-items: center;
}

.maingrid img{
  width: 205vw;
  min-height: 50vh;
  object-fit:cover;
  transition: transform .2s;
  overflow: hidden;
}

.maingrid img:hover{
  transform: scale(1.5);
}


.TextArea{
  display: flex;
  align-items: center;
  flex-flow: column;
  max-height: 50vh;
}

.TextArea *{
  margin: 5% 0 0 0;
}
.TextArea h2 {
  text-align: center;
  

}

.TextArea p {
  min-height: 20vh;
  text-align: center;
  color: brown;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer nav{
  grid-column-start: 2;
  grid-column-end: 3;


}

.footerNav ul {
  display: flex;
  justify-content: space-evenly;
  
}

.footerNav li{
  list-style-type: upper-roman;
  color: rgba(165, 98, 98, 0.515);
  text-align: center;
  padding: 14px 16px;
}

























  /* AREA FOR THE BUTTON IMPORTED FROM CODEPEN.IO */
  .frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-5 {
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
  }
  .btn-5:hover {
    color: #f0094a;
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #f0094a;
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }
  
